.table{
    margin-top: 30px;
    margin-bottom: 100px;
    /* overflow-x:auto;
    display:block;
    height : 600px; */
      
}
.table td{
    vertical-align: middle;
}
h2{
    float: left;
}
#register{
    margin-left: 10px;
}

.edit{
    opacity: 0.7;
    width: 18px;
    display: block;
    margin: auto;
}
.icon-button{
    border: none;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    
}
.icon-button:hover{
    background-color: rgb(240, 240, 240);
}

.card-body span{
    font-weight: bold;
    color: rgb(126, 126, 126);
}
.card-body span:hover{
    cursor: pointer;
    color: rgb(185, 185, 185);
}
#sub-title{
    margin-top: 30px;
    color: rgb(70, 70, 70);
}

/* Try using flex, it should be compatible with table-responsive: */
